.jumbotron {
  /*background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX6513421.jpg');*/
  background-image: url('http://www.jeffanderin.us//images/CinemaBackground.jpg');
  /*color: #c61515;*/
  color: white;
  text-align: center;
  background-position: 0% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  /*font-family: 'Nosifer', cursive;*/
}

/*ol {
  background-color: white;
  text-align: left;
  position: fixed;
  margin-left: 50%;
  margin-right: 50%;
  color: black;
  z-index: 1;
}*/

.popcorn {
  height: 300px;
}

body {
  /*background-image: url('http://www.gunsandammo.com/files/2011/09/theatre1.jpg');*/
  background-color: black;
}

.row {
  padding: 15px;
  /*border: 3px solid black;*/
  background-color: white;
}

.col-xs-2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.screen {
  margin-bottom: 100px;
}

.thumbnail {
  padding-top: 40px;
  background-color: lightgrey;
}

h4 {
  text-align: center;
}

.form-container {
  display: none;
  margin: 0, auto;
  background-color: lightgrey;
  width: 25%;
  border-radius: 10px;
  padding: 10px;
}

.wrapper {
  position: relative
}
.seat {
    position: absolute;
    top: 0;
    left: 0;
}
.available {
  z-index: 100;
  position: absolute;
}


.selected {
  position: absolute;
  top: 0;
  left: 0;
}
.reserved {
  position: absolute;
  top: 0;
  left: 0;
}


/*This is a CSS style for our form*/
form{
  display: none;
}
form.is-active{
  display: block;
}

 .available.is-active, .selected.is-active, .reserved.is-active {
   z-index: 10000;
 }
